/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 10px;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

button {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 30px;
  border-radius: 10px;
  margin-right: 10px;
  width: 150px;
}

/* MAIN */
main {
  height: 100vh;
  background-color: dodgerblue;
}

.main-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#box {
  width: 800px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid rgb(0, 0, 0);
}

.cell {
  width: calc(100% / 10);
  height: calc(100% / 10);
  border: 1px solid black;
  cursor: pointer;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.bgc-g {
  background-color: lightgreen;
}
